@media (max-width: 768px) {
  /* Common CSS */
  section:not(.welcome) {
    height: auto;
    padding: 40px 20px;
  }
  /* section.welcome {
    padding: 0;
  } */
  section .inner {
    width: 100%;
  }
  .heading h1 {
    font-size: 2em;
    line-height: 1.3em;
  }

  /* GNB */
  .gnb {
    text-align: center;
    width: 100%;
  }
  .gnb a {
    font-size: 2.2em;
  }
}