@charset "utf-8";
body{
  line-height: 1.5rem;
  margin: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a{
  text-decoration: none;
}
.container{
  display: flex;
}
.square{
width: 400px;
height: 400px;
position: relative;
margin: 40px;
}
.square:hover span{
  background-color: pink;
  border: none;}

.square span{
position: absolute;
width: 100%;
height: 100%;
border:  1px solid #fff;
border-radius: 40% 60% 65% 35%/ 40% 45% 55% 60%;
transition:  0.5s;
}
.square span:nth-child(1){animation: circle 7s linear infinite;
;}
.square span:nth-child(2){animation: circle 4s linear infinite;
animation-direction: reverse;
}
.square span:nth-child(3){animation: circle 10s linear infinite;
}

.square:hover span:nth-child(1){ 
  opacity: 0.3;
  background-color: rgb(214, 189, 255);}
  .square:hover span:nth-child(2){ 
    opacity: 0.5;
  background-color: rgb(220, 187, 255)}
  .square:hover span:nth-child(3){ 
    opacity: 0.8;
    background-color: rgb(216, 200, 255)}

.square div{
position: absolute; top: 50%;left: 50%;
transform: translate(-50%,-50%);
width: 70%;
text-align: center;
color: #fff;
}


.square div a{
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35%/ 40% 45% 55% 60%;
}

@keyframes circle {
  0%{transform: rotate(0);
  
  }
  100%{
    transform:  rotate(360deg);
  }
}